/EXAMPLES/APP001/MauiFirstApp/.vs
/EXAMPLES/APP001/MauiFirstApp/MauiFirstApp/bin
/EXAMPLES/APP001/MauiFirstApp/MauiFirstApp/obj
/EXAMPLES/APP002/HorizontalAndVerticalLayouts/bin
/EXAMPLES/APP002/HorizontalAndVerticalLayouts/obj/Debug
/EXAMPLES/APP002/HorizontalAndVerticalLayouts/obj
/EXAMPLES/APP002/.vs
/EXAMPLES/APP003/.vs
/EXAMPLES/APP003/CustomLayout/bin/Debug
/EXAMPLES/APP003/CustomLayout/obj
/EXAMPLES/APP004/.vs
/EXAMPLES/APP004/DecoupleViewAndViewModel/bin
/EXAMPLES/APP004/DecoupleViewAndViewModel/obj
/EXAMPLES/APP005/.vs
/EXAMPLES/APP005/GeneratedViewModels/bin
/EXAMPLES/APP005/GeneratedViewModels/obj
/EXAMPLES/APP006/.vs
/EXAMPLES/APP006/GeneratedViewModels/bin
/EXAMPLES/APP006/GeneratedViewModels/obj
