/EXAMPLES/APP001/MauiFirstApp/.vs
/EXAMPLES/APP001/MauiFirstApp/MauiFirstApp/bin
/EXAMPLES/APP001/MauiFirstApp/MauiFirstApp/obj
/EXAMPLES/APP002/HorizontalAndVerticalLayouts/bin
/EXAMPLES/APP002/HorizontalAndVerticalLayouts/obj/Debug
/EXAMPLES/APP002/HorizontalAndVerticalLayouts/obj
/EXAMPLES/APP002/.vs
/EXAMPLES/APP003/.vs
/EXAMPLES/APP003/CustomLayout/bin/Debug
/EXAMPLES/APP003/CustomLayout/obj
/EXAMPLES/APP004/.vs
/EXAMPLES/APP004/DecoupleViewAndViewModel/bin
/EXAMPLES/APP004/DecoupleViewAndViewModel/obj
/EXAMPLES/APP005/.vs
/EXAMPLES/APP005/GeneratedViewModels/bin
/EXAMPLES/APP005/GeneratedViewModels/obj
/EXAMPLES/APP006/.vs
/EXAMPLES/APP006/GeneratedViewModels/bin
/EXAMPLES/APP006/GeneratedViewModels/obj
/EXAMPLES/APP007/.vs
/EXAMPLES/APP007/CollectionInitialization/obj
/EXAMPLES/APP007/CollectionInitialization/bin
/EXAMPLES/APP008/.vs
/EXAMPLES/APP008/UiAndViewModelInteraction/bin
/EXAMPLES/APP008/UiAndViewModelInteraction/obj
/EXAMPLES/APP009/.vs
/EXAMPLES/APP009/ViewModelCommunication/bin
/EXAMPLES/APP009/ViewModelCommunication/obj
/EXAMPLES/APP010/IocAndDI/.vs
/EXAMPLES/APP010/IocAndDI/bin
/EXAMPLES/APP010/IocAndDI/obj
/EXAMPLES/APP011/.vs
/EXAMPLES/APP011/MvvmDependencyInjection/bin
/EXAMPLES/APP011/MvvmDependencyInjection/obj
/EXAMPLES/APP012/MauiAppPassData/.vs
/EXAMPLES/APP012/MauiAppPassData/bin
/EXAMPLES/APP012/MauiAppPassData/obj
/EXAMPLES/APP013/RabbitMQTest/.vs
/EXAMPLES/APP013/RabbitMQTest/RabbitMQTest/obj
/EXAMPLES/APP013/RabbitMQTest/RabbitMQTestClients/bin
/EXAMPLES/APP013/RabbitMQTest/RabbitMQTestClients/obj
/EXAMPLES/APP013/RabbitMQTest/RabbitMQTest/bin
/EXAMPLES/APP013/RabbitMQTest/packages
/EXAMPLES/APP014/.vs
/EXAMPLES/APP014/Calculator/bin/Debug
/EXAMPLES/APP014/Calculator/obj
/EXAMPLES/APP015/.vs
/EXAMPLES/APP015/ScaleAndRotate/obj
/EXAMPLES/APP015/ScaleAndRotate/bin
/EXAMPLES/APP016/DragAndDropGesture/.vs
/EXAMPLES/APP016/DragAndDropGesture/DragAndDropGesture/bin
/EXAMPLES/APP016/DragAndDropGesture/DragAndDropGesture/obj
/EXAMPLES/APP016/PanGesture/.vs
/EXAMPLES/APP016/PanGesture/PanGesture/bin
/EXAMPLES/APP016/PanGesture/PanGesture/obj
/EXAMPLES/APP016/TapGesture/TapGesture/obj
/EXAMPLES/APP016/PinchGesture/PinchGesture/obj
/EXAMPLES/APP016/SwipeGesture/SwipeGesture/obj
/EXAMPLES/APP016/TapGesture/TapGesture/bin
/EXAMPLES/APP016/SwipeGesture/SwipeGesture/bin
/EXAMPLES/APP016/PinchGesture/PinchGesture/bin
/EXAMPLES/APP016/TapGesture/.vs
/EXAMPLES/APP016/PinchGesture/.vs
/EXAMPLES/APP016/SwipeGesture/.vs
/EXAMPLES/APP017/FlyoutPageNavigation/.vs
/EXAMPLES/APP017/FlyoutPageNavigation/FlyoutPageNavigation/bin
/EXAMPLES/APP017/FlyoutPageNavigation/FlyoutPageNavigation/obj
/EXAMPLES/APP017/FlyoutPageSample/.vs
/EXAMPLES/APP017/FlyoutPageSample/FlyoutPageSample/bin
/EXAMPLES/APP017/FlyoutPageSample/FlyoutPageSample/obj
*.bin
/EXAMPLES/APP017/Hierarchical/.vs
/EXAMPLES/APP017/Hierarchical/WorkingWithNavigation/bin
/EXAMPLES/APP017/Hierarchical/WorkingWithNavigation/obj
/EXAMPLES/APP017/LoginFlow/.vs
/EXAMPLES/APP017/LoginFlow/LoginNavigation/bin
/EXAMPLES/APP017/LoginFlow/LoginNavigation/obj
/EXAMPLES/APP017/ModalNavigation/.vs
/EXAMPLES/APP017/ModalNavigation/ModalNavigation/bin
/EXAMPLES/APP017/ModalNavigation/ModalNavigation/obj
/EXAMPLES/APP017/PassingData/.vs
/EXAMPLES/APP017/PassingData/PassingData/bin
/EXAMPLES/APP017/PassingData/PassingData/obj
/EXAMPLES/APP017/Pop-ups/.vs
/EXAMPLES/APP017/Pop-ups/WorkingWithPopups/bin
/EXAMPLES/APP017/Pop-ups/WorkingWithPopups/obj
